node_modules/*
node_modules/.bin/acorn
node_modules/.bin/autoprefixer
node_modules/.bin/browserslist
node_modules/.bin/cssesc
node_modules/.bin/esbuild
node_modules/.bin/eslint
node_modules/.bin/jiti
node_modules/.bin/js-yaml
node_modules/.bin/jsesc
node_modules/.bin/json5
node_modules/.bin/loose-envify
node_modules/.bin/nanoid
node_modules/.bin/node-which
node_modules/.bin/parser
node_modules/.bin/resolve
node_modules/.bin/rimraf
node_modules/.bin/rollup
node_modules/.bin/semver
node_modules/.bin/sucrase
node_modules/.bin/sucrase-node
node_modules/.bin/tailwind
node_modules/.bin/tailwindcss
node_modules/.bin/update-browserslist-db
node_modules/.bin/vite
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/@mui_material_Card.js
node_modules/.vite/deps/@mui_material_CardContent.js
node_modules/.vite/deps/@mui_material_CardMedia.js
node_modules/.vite/deps/@mui_material_Typography.js
node_modules/.vite/deps/@mui_material.js
node_modules/.vite/deps/chunk-5TBDGQCY.js
node_modules/.vite/deps/chunk-5TBDGQCY.js.map
node_modules/.vite/deps/chunk-AULJBA2R.js
node_modules/.vite/deps/chunk-AULJBA2R.js.map
node_modules/.vite/deps/chunk-DGAKMM4B.js
node_modules/.vite/deps/chunk-DGAKMM4B.js.map
node_modules/.vite/deps/chunk-JY32LBRL.js
node_modules/.vite/deps/chunk-JY32LBRL.js.map
node_modules/.vite/deps/chunk-K4RZLRKP.js
node_modules/.vite/deps/chunk-K4RZLRKP.js.map
node_modules/.vite/deps/chunk-KD6CHLIE.js
node_modules/.vite/deps/chunk-KD6CHLIE.js.map
node_modules/.vite/deps/chunk-QIW63KVS.js
node_modules/.vite/deps/chunk-QIW63KVS.js.map
node_modules/.vite/deps/chunk-T5SVLRDF.js
node_modules/.vite/deps/chunk-T5SVLRDF.js.map
node_modules/.vite/deps/react_jsx-dev-runtime.js
node_modules/.vite/deps/react_jsx-dev-runtime.js.map
node_modules/.vite/deps/react_jsx-runtime.js
node_modules/.vite/deps/react-dom_client.js
node_modules/.vite/deps/react-dom_client.js.map
node_modules/.vite/deps/react-router-dom.js
node_modules/.vite/deps/react.js
node_modules/esbuild/bin/esbuild
node_modules/postcss-import/node_modules/.bin/resolve
node_modules/tailwindcss/node_modules/.bin/resolve
node_modules/tailwindcss/node_modules/.bin/resolve.cmd
node_modules/tailwindcss/node_modules/.bin/resolve.ps1

deps
node_modules
